body{
background-color: rgba(238, 66, 102, 1);
/*background-image: url('zoo2.png') no-repeat center center fixed;
background-size: cover;
position: relative;    
margin-left: auto;      
    margin-right: auto;   */
}

.color-square {
	/*width: 90px;
	height: 100px;*/
/*	display: inline-block;*/
background-color: blue;
	
}



#color-row{
	width: 500px;
	height: 100px;
	display: block;
	text-align: center;
	
}
#color-row1{
	width: 500px;
	height: 100px;
	display: block;
	text-align: center;
	
}
#color-row2{
	width: 500px;
	height: 100px;
	display: block;
	text-align: center;
	
}

.button3 {background-color: green;} 

.container{
	/*width: 900px;
	margin: auto;*/
}